<section class="github section">
  <div class="section-inner">
    <h2 class="heading">GitHub Calendar</h2>

    <div id="github-graph" class="github-graph">
      {{{githubCalendar}}}
    </div>
  </div>
</section>
