<section class="github section">
  <div class="section-inner">
    <h2 class="heading">GitHub Calendar</h2>

    <div id="github-graph" class="github-graph">
      {{{githubCalendar}}}
    </div>
  </div>
</section>

<section class="section">
  <div align="center">
    <a href="https://www.gametracker.com/server_info/paris.oktibor.com:28960/" target="_blank" name="Gametracker">
      <img src="https://cache.gametracker.com/server_info/paris.oktibor.com:28960/b_560_95_1.png" border="0" width="560" class="img-fluid"
        height="95" alt="Gametracker" />
    </a>
  </div>
</section>
